da_loader/flash.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
<xs:element name="flash-mode" type="flashInfo"/>
  <xs:complexType name="flashInfo">
    <xs:sequence>
      <xs:element name="version" type="xs:decimal"/>
      <xs:element name="project" type="xs:string"/>
      <xs:element name="dagent" type="xs:string"/>
      <xs:element name="scatter" type="xs:string"/>
      <xs:element name="contact" type="xs:string"/>
      <xs:element name="build_time" type="xs:string"/>
      <xs:element name="build_version" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
